body{
    margin: 30px auto 0;
}
.require::after{
	content:'(*)';
	color:red;
}
.error{
	color: red;
	
}
.errorT{
	background-color: #b9ecfd;
	border: 1px solid red;
}
.menu-background {
width: 100%;
height: 60px;
background: rgb(65, 102, 131);
position: relative;

}
.menu {	
width: 80%;
height: 35px;
background-image: url("../images/menu.png");
background-repeat: repeat-x;
position: absolute;
bottom: 0;
left: 10%;
}
.lblError::before{
	content:'(*) ';
}
.lblError{
	
}
#primary_nav_wrap
{
	
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	line-height:35px;
	padding:0 15px;
	text-align: center; 
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 9px;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}



#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}
#primary_nav_wrap ul a:hover
{
	display:block;
	color:#000;
	text-decoration:none;
	font-weight:700;
	font-size:13px;
	line-height:35px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus{
    color: #f5f5f5!important;
    cursor: not-allowed;
    background-color: #75bee0!important;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span{
    background-color: #75bee0!important;
    color: #f5f5f5!important;
}
.pagination>li>a, .pagination>li>span{
        background-color: #75bee0!important;
        margin-left: 6px;
        padding-top: 9px;
        padding-bottom: 9px;
}
.pagination>.active>a{
    background-color: #347d9e!important;
}